
.home{
    width: 100%;
    margin: 0 auto;
    margin-block: 2rem;
    padding: 5rem;
}
.topSection {
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
    color: #fff;
}

.imageContainer {
    flex: 0 0 auto;
    margin-left: 7rem;
    width: 50%;

}


.textContainer {
    padding: 15px 0;
    flex: 1 1 auto;
    /* background-color: red; */
    height: 500px;
    width: 50%;

}

.textContainer h2 {
    font-size: 1.2rem;
    margin-top: 1.5rem;
}

.textContainer h1 {
    margin-top: 2rem;
    font-size: 4rem;
}

.textContainer p {
    font-size: 1rem;
    line-height: 1.4;
}

.buttonContainer {
    display: flex;
    gap: 15px;
    margin-top: 2.5rem;
    padding:2rem 1rem;
    font-size: 20px;
    font-weight: 500    ;
    justify-content: flex-start;
}

.buttonContainer button {

    border: 2px solid white;
    border-radius: 5px;
    padding: 10px 20px;
    margin: 10px 0;
    width: auto;
    cursor: pointer;
}

.buttonContainer button:hover {
    background-color: #042747;
    color: #c0c0c0;
}
.winner{
    margin-block: 3rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
}

.winner_info{
    background-color: #c0c0c0;
    padding: 1rem;
    border-radius: .2rem;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    align-items: center;
}


.winner_message{
    background-color: #c0c0c0;
    padding: 2rem;
    border-radius: .2rem;
    font-size: 1.5rem;
    color: #042747;
    line-height: 0;
    position: relative;
}

.winner_message small{
    font-size: 5rem;
    top: 43%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;

}


.candidate_list{
    background-color: #042747;
    font-size: 1rem;
    padding: .1rem 1rem;
}

.candidate_list p{
    font-weight: 600;
}
.candidate_list span{
    background-color: #c0c0c0;
    padding: .5rem;
    margin-left: .5rem;
    color: #042747;
    border-radius: .2rem;
}

.whyVoteSection {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    padding: 50px;
    margin-top: 150px;
    height: auto;
}

.whyVoteContent {
    max-width: 50%;
}
.whyVoteContent_down, .whyVoteContent_up {
    border: 1px solid #c0c0c0;
    padding: 20px;
    border-radius: 10px;
    width: 100%;
    margin-bottom: 1rem;
    background-color: #042747;
    color: #c0c0c0;
}

.whyVoteContent_up h2, .whyVoteContent_down h3 {
    font-size: 2rem;
    margin-bottom: 1rem;
    color: #fff;
}

.whyVoteContent_up p, .whyVoteContent_down p {
    font-size: 1rem;
    margin-bottom: 1.5rem;
}

.whyVoteContent_up a, .whyVoteContent_down a {
    display: inline-block;
    margin-bottom: 1.5rem;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
    position: relative;
    padding-right: 20px;
}

.whyVoteImage {
    max-width: 40%;
    position: relative;
}

.whyVoteImage img {
    width: 100%;
    height: auto;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    right: auto;
    bottom: auto;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    background: #042747;
    padding: 20px;
    border-radius: 10px;
    outline: none;
    color: #fff;
}
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.75);
}
@media screen  and (max-width: 35em){
    .home{
        width: 100%;
    }
        .topSection {
            flex-direction: column;
        }
    
        .imageContainer {
            margin-left: 0;
            width: 100%;
        }
    
        .textContainer {
            width: 100%;
            text-align: center;
            padding: 0;
        }
.whyVoteSection {
    flex-direction: column;
    text-align: center;
}

.whyVoteImage {
    max-width: 100%;
    margin-bottom: 1rem;
    order: 1;
}

.whyVoteContent {
    max-width: 100%;
    order: 2;
    width: 100%; 

}

.whyVoteContent_up,
.whyVoteContent_down {
    order: 2;
    width: 135%;
    padding: 2rem;
    box-sizing: border-box;
    margin-bottom: 1rem;
}

.whyVoteContent_up,
.whyVoteContent_down h2 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.whyVoteContent_up,
.whyVoteContent_down p {
    font-size: 1rem;
    margin-bottom: 1rem;
}

.whyVoteContent_up,
.whyVoteContent_down a {
    font-size: 1rem;
}

    .winner{
        grid-template-columns: repeat(1, 1fr); 
    }
    .winner_message small{
        font-size: 2rem;
    }
}